<form class="margines2" *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="nazwa">Nazwa albumu</label>
            <input class="form-control" id="nazwa" name="nazwa" formControlName="nazwa">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="opis">Wykonawca</label>
            <input class="form-control" id="opis" name="opis" formControlName="opis" required maxlength="100" minlength="5">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="cena">Cena</label>
            <input class="form-control" id="cena" name="cena" formControlName="cena" type="number">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-1 mb-3">
            <button class="btn btn-danger" type="reset">Reset</button>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-primary" [disabled]="form.invalid">Zapisz</button>
        </div>
    </div>
</form>