<br><br>
<div class="container margines">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <h2>Menu</h2>
                <h4>
                <a data-toggle="collapse" data-parent="#accordion" routerLink="artykuly"><span class="glyphicon glyphicon-music"></span>Artykuły</a>
                <br>
                <a data-toggle="collapse" data-parent="#accordion" routerLink="koszyk"><span class="glyphicon glyphicon-shopping-cart"></span>Koszyk</a>
                <br>
                <a data-toggle="collapse" data-parent="#accordion" routerLink="logowanie"><span class="glyphicon glyphicon-shopping-cart"></span>Logowanie</a>
                </h4>
            </div>
        </div>
    </div>
</div>
